In [14]:
#Import dependencies
import pandas as pd
import numpy as np

In [15]:
#Path to csv file
purchase_file = "Resources/purchase_data.csv"

In [16]:
#Read file into pandas and make a copy called 'data' so it can be
#called back at any time using data.copy and create dataframe
purchase_file_pd = pd.read_csv(purchase_file)
purchase_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
#Get a list of all columns for easy reference
purchase_file_pd.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [18]:
#Create a list of the columns
purchase_file_pd = purchase_file_pd.loc[:,["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]]

In [129]:
#PLAYER COUNT
#Calculate the total number of players
total_players = purchase_file_pd["SN"].nunique()

total_players = pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

In [20]:
#PURCHASING ANALYSIS
#Number of unique items
num_unique_items = purchase_file_pd['Item ID'].nunique()
num_unique_items

179

In [21]:
purchase_file_pd.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [22]:
#Calculate average price
avg_price = purchase_file_pd["Price"].mean()
avg_price

3.050987179487176

In [23]:
#Number of purchases
num_purchases = purchase_file_pd["Purchase ID"].count()
num_purchases

780

In [24]:
#Total Revenue
Tot_Rev = purchase_file_pd["Price"].sum()
Tot_Rev

2379.77

In [25]:
#Purchasing Analysis(Total) summary data frame
Purch_Analysis_Total = pd.DataFrame({"Number of Unique Items": [num_unique_items],"Average Price": [avg_price], "Number of Purchases":[num_purchases], "Total Revenue":Tot_Rev})
Purch_Analysis_Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [26]:
#GENDER DEMOGRAPHICS
#Gender Count
#There are 576 screen names. Initially, I ran the below code to groupby gender and it returned 780 lines
#(which is the total number of lines in this data set), but based on Total Number of Players in the 
#Player Count section, I know there are actually 576 players. Some players have multiple entries for 
#gender on the same screen name. As a result, grouping by SN and Gender instead of just Gender gives
#us accurate information.I ran the below code to see the different outputs for Gender and SN individully. 


#Groupby 'Gender' AND 'SN' to get the number of male, female, and non-disclosed genders
#gender_count = purchase_file_pd.groupby("Gender")["SN"].nunique()
#gender_count
player_gender = purchase_file_pd.groupby("Gender")["SN"].nunique()
player_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [27]:
#getting total line count
total_num = purchase_file_pd.count()
total_num

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [131]:
#Percentage of male, female, and non-disclosed players
#Referenced Hannah's code for this cell

#to drop duplicates by the screen name#
purchase_file_pd = purchase_file_pd.drop_duplicates('SN')
#to make total players an integer and not a list#
total_players = purchase_file_pd.count()[0]
#Then you can use a value_counts() to get the listed genders#
gender_count = purchase_file_pd["Gender"].value_counts()
#finally, you can calculate the percents#
gender_count_percents = gender_count/total_players * 100
gender_count_percents

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [132]:
#Gender Demographics Analysis summary data frame
gender_demo_analysis = pd.DataFrame({"Total Count":gender_count, "Percentage of Players":gender_count_percents})
gender_demo_analysis

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [30]:
#looking at datatypes of the columns
purchase_file_pd.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [140]:
#PURCHASING ANALYSIS (GENDER)
#purchase count by gender
gender_purchase_count = purchase_file_pd.groupby("Gender")["Purchase ID"].count()
gender_purchase_count


#My output totals 576, which is the total amount of players but the homework shows a total of 780. 
#I think this is because we dropped duplicates (in Hannah's code), which brought the number of rows
#in this dataset from 780 to 576.

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Purchase ID, dtype: int64

In [157]:
#average purchase price by gender
avg_gender_purch_price = purchase_file_pd.groupby("Gender")["Price"].mean()
avg_gender_purch_price.round(2)

Gender
Female                   3.17
Male                     3.05
Other / Non-Disclosed    3.41
Name: Price, dtype: float64

In [146]:
#total purchase value 
tot_purch_pp = purchase_file_pd.groupby("Gender")["Price"].sum()
tot_purch_pp

Gender
Female                    256.43
Male                     1474.70
Other / Non-Disclosed      37.52
Name: Price, dtype: float64

In [154]:
#average total purchase per person#

avg_tot_purch_pp = tot_purch_pp/ gender_count
avg_tot_purch_pp.round(2)

Female                   3.17
Male                     3.05
Other / Non-Disclosed    3.41
dtype: float64

In [155]:
########Purchasing Analysis (Gender) summary data frame
purch_analysis = pd.DataFrame({"Purchase Count":gender_purchase_count, 
                               "Average Purchase Price":avg_gender_purch_price, 
                               "Total Purchase Value":tot_purch_pp, 
                               "Avg Total Purchase per Person": avg_tot_purch_pp})
purch_analysis

###Avg Purchase price and Avg Total Purchase Per Person is the same###

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,3.165802,256.43,3.165802
Male,484,3.046901,1474.70,3.046901
Other / Non-Disclosed,11,3.410909,37.52,3.410909

In [173]:
#AGE DEMOGRAPHICS
#create a new dataframe
age_demo = purchase_file_pd[["Age", "SN"]]

#establish bins for the given age ranges
bins = [0, 10, 15, 20, 25, 30, 35, 40, 200]
age_ranges =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize existing players into the age bins using pd.cut() 

age_demo["Age Range"] = pd.cut(age_demo["Age"], bins, labels = age_ranges, include_lowest=True)
age_demo

C:\Users\madif\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

     Age             SN Age Range
0     20        Lisim78     15-19
1     40    Lisovynya38     35-39
2     24     Ithergue48     20-24
3     24  Chamassasya86     20-24
4     23      Iskosia90     20-24
..   ...            ...       ...
773   21         Hala31     20-24
774   11     Jiskjask80     10-14
775   21     Aethedru70     20-24
777   20     Yathecal72     15-19
778    7        Sisur91       <10

[576 rows x 3 columns]

In [182]:
#percent by age
age_percentage= purchase_file_pd["Age Range"].value_counts()/(total_players) * 100
age_percentage.round(2)

age_demo=pd.DataFrame({"Total Count":age_count,"Percentage of Players": age_percentage})
age_demo

       Total Count  Percentage of Players
20-24          232              40.277778
15-19          150              26.041667
25-29           59              10.243056
10-14           41               7.118056
30-34           37               6.423611
35-39           26               4.513889
<10             24               4.166667
40+              7               1.215278

In [184]:
###########Age Demographics Analysis summary table##########
age_demo_analysis = pd.DataFrame({("Total Count"):gender_count,("Percentage of Players"): age_percentage})
age_demo_analysis


#####Cannot figure out why I have the NaN values or how to format this table.##########

                       Total Count  Percentage of Players
10-14                          NaN               7.118056
15-19                          NaN              26.041667
20-24                          NaN              40.277778
25-29                          NaN              10.243056
30-34                          NaN               6.423611
35-39                          NaN               4.513889
40+                            NaN               1.215278
<10                            NaN               4.166667
Female                        81.0                    NaN
Male                         484.0                    NaN
Other / Non-Disclosed         11.0                    NaN

In [39]:
#PURCHASING ANALYSIS (AGE)

#Bin the purchase_data data frame by age (I copy and pasted the previous line from where we created bins for Age Demographics)
purchase_file_pd ["Age Range"] = pd.cut(purchase_file_pd["Age"], bins, labels = age_ranges, include_lowest=True)
purchase_file_pd

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [189]:
#purchase count by age

age_purchase_count = purchase_file_pd.groupby("Age Range").count()["Purchase ID"]
age_purchase_count

Age Range
<10       24
10-14     41
15-19    150
20-24    232
25-29     59
30-34     37
35-39     26
40+        7
Name: Purchase ID, dtype: int64

In [190]:
#avg purchase price by age
avg_purch_price_age = purchase_file_pd.groupby("Age Range")["Price"].mean()
avg_purch_price_age.round(2)

Age Range
<10      3.42
10-14    2.94
15-19    3.18
20-24    3.02
25-29    2.90
30-34    3.00
35-39    3.29
40+      3.08
Name: Price, dtype: float64

In [191]:
#total purchase value by age
tot_purch_value = purchase_file_pd.groupby("Age Range")["Price"].sum()
tot_purch_value

Age Range
<10       82.18
10-14    120.43
15-19    476.84
20-24    700.03
25-29    171.02
30-34    111.15
35-39     85.47
40+       21.53
Name: Price, dtype: float64

In [192]:
#average total purchase per person by age
       
avg_tot_purch_pp_age = tot_purch_value/ age_demo["Total Count"]
avg_tot_purch_pp_age.round(2)

<10      3.42
10-14    2.94
15-19    3.18
20-24    3.02
25-29    2.90
30-34    3.00
35-39    3.29
40+      3.08
dtype: float64

In [193]:
#Age Demographics Summary Data Frame
age_analysis = pd.DataFrame({"Purchase Count":age_purchase_count,
                                "Average Purchase Price":avg_purch_price_age,
                                "Total Purchase Value":tot_purch_value,
                                "Avg Total Purchase per Person":avg_tot_purch_pp_age})
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,24,3.424167,82.18,3.424167
10-14,41,2.937317,120.43,2.937317
15-19,150,3.178933,476.84,3.178933
20-24,232,3.017371,700.03,3.017371
25-29,59,2.898644,171.02,2.898644
30-34,37,3.004054,111.15,3.004054
35-39,26,3.287308,85.47,3.287308
40+,7,3.075714,21.53,3.075714

In [200]:
#####TOPSPENDERS
#####How to fix?????#####
#Purchase Count (ts=Top Spenders)
ts_purch_count = purchase_file_pd.groupby("SN")["Item ID"].count()
ts_purch_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       1
Yathedeu43       1
Yoishirrala98    1
Zhisrisu83       1
Zontibe81        1
Name: Item ID, Length: 576, dtype: int64

In [202]:
#Average Purchase Price

ts_avg_purch_price = purchase_file_pd.groupby("SN")["Price"].mean()
ts_avg_purch_price.round(2)

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       1.87
Yathedeu43       3.75
Yoishirrala98    4.58
Zhisrisu83       4.35
Zontibe81        1.76
Name: Price, Length: 576, dtype: float64

In [75]:
#################Total Purchase Value
players_purch_value = purchase_file_pd.groupby("SN")["Price"].sum()
players_purch_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       1.87
Yathedeu43       3.75
Yoishirrala98    4.58
Zhisrisu83       4.35
Zontibe81        1.76
Name: Price, Length: 576, dtype: float64

In [79]:
#Top Spenders Summary Data Frame

top_spenders_analysis = pd.DataFrame({"Purchase Count":ts_purch_count,
                                "Average Purchase Price":ts_avg_purch_price,
                                "Total Purchase Value":players_purch_value})
                                
top_spenders_analysis

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                    2.28                  2.28
Adastirin33                 1                    4.48                  4.48
Aeda94                      1                    4.91                  4.91
Aela59                      1                    4.32                  4.32
Aelaria33                   1                    1.79                  1.79
...                       ...                     ...                   ...
Yathecal82                  1                    1.87                  1.87
Yathedeu43                  1                    3.75                  3.75
Yoishirrala98               1                    4.58                  4.58
Zhisrisu83                  1                    4.35                  4.35
Zontibe81                   1                    1.76                  1.76

[576 rows x 3 columns]

In [87]:
#MOST POPULAR ITEMS

#Retrieve the Item ID, Item Name, and Item Price columns
items= purchase_file_pd.loc[:,["Item ID", "Item Name", "Price"]]
items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [88]:
# Convert to new df
item_df = pd.DataFrame(items)

In [102]:
#Purchase Count for Most Popular Items
pop_purch_count = items.groupby(["Item ID", "Item Name"]).count()["Price"]
pop_purch_count

Item ID  Item Name
0        Splinter                                         3
1        Crucifer                                         4
2        Verdict                                          4
3        Phantomlight                                     4
4        Bloodlord's Fetish                               3
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    11
179      Wolf, Promise of the Moonwalker                  5
181      Reaper's Toll                                    5
182      Toothpick                                        1
183      Dragon's Greatsword                              2
Name: Price, Length: 173, dtype: int64

In [104]:
#Item Price
pop_item_price = items["Price"]
pop_item_price

0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
       ...
773    1.02
774    4.19
775    3.54
777    3.46
778    4.19
Name: Price, Length: 576, dtype: float64

In [103]:
#Total Purchase Value
pop_total_value = items.groupby(["Item ID", "Item Name"]).sum() ["Price"]
pop_total_value

Item ID  Item Name
0        Splinter                                         3.84
1        Crucifer                                        11.77
2        Verdict                                          9.92
3        Phantomlight                                     9.96
4        Bloodlord's Fetish                               5.10
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    46.53
179      Wolf, Promise of the Moonwalker                 22.40
181      Reaper's Toll                                    8.30
182      Toothpick                                        4.03
183      Dragon's Greatsword                              2.18
Name: Price, Length: 173, dtype: float64

In [112]:
#Most Popular Items Summary Data Frame
most_pop_analysis = pd.DataFrame({"Purchase Count":pop_purch_count,
                                "Total Purchase Value":pop_total_value})
                                
most_pop_analysis

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
0,Splinter,3,3.84
1,Crucifer,4,11.77
2,Verdict,4,9.92
3,Phantomlight,4,9.96
4,Bloodlord's Fetish,3,5.10
...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",11,46.53
179,"Wolf, Promise of the Moonwalker",5,22.40
181,Reaper's Toll,5,8.30
182,Toothpick,1,4.03
183,Dragon's Greatsword,2,2.18

In [122]:
#Merge item_df and summary data frame
#most_popular_df=item_df.merge(most_pop_analysis, on=["Item ID"])

In [124]:
#Sort the purchase count column in descending order
most_pop_analysis.sort_values(["Purchase Count"], ascending=[False])

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",11,46.53
37,"Shadow Strike, Glory of Ending Hope",8,25.28
7,"Thorn, Satchel of Dark Souls",7,9.31
145,Fiery Glass Crusader,7,32.06
159,"Oathbreaker, Spellblade of Trials",7,21.56
...,...,...,...
31,Trickster,1,1.55
121,Massacre,1,1.60
153,Mercenary Sabre,1,3.74
125,Whistling Mithril Warblade,1,1.00
115,Spectral Diamond Doomblade,1,2.04

In [125]:
#Most Profitable Items

#Sort the above table by total purchase value in descending order
most_pop_analysis.sort_values(["Total Purchase Value"], ascending=[False])

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",11,46.53
82,Nirvana,7,34.30
92,Final Critic,7,32.09
145,Fiery Glass Crusader,7,32.06
59,"Lightning, Etcher of the King",6,25.38
...,...,...,...
42,The Decapitator,1,1.75
121,Massacre,1,1.60
31,Trickster,1,1.55
28,"Flux, Destroyer of Due Diligence",1,1.06
125,Whistling Mithril Warblade,1,1.00