In [21]:
#Import dependencies
import pandas as pd
import numpy as np

In [22]:
#Path to csv file
purchase_file = "Resources/purchase_data.csv"

In [23]:
#Read file into pandas and make a copy called 'data' so it can be
#called back at any time using data.copy and create dataframe
purchase_file_pd = pd.read_csv(purchase_file)
purchase_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [24]:
#Get a list of all columns for easy reference
purchase_file_pd.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [25]:
#Create a list of the columns
purchase_file_pd = purchase_file_pd.loc[:,["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]]

In [26]:
#PLAYER COUNT
#Calculate the total number of players
total_players = purchase_file_pd["SN"].nunique()

total_players = pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

In [27]:
#PURCHASING ANALYSIS
#Number of unique items
num_unique_items = purchase_file_pd['Item ID'].nunique()
num_unique_items

179

In [28]:
purchase_file_pd.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [29]:
#Calculate average price
avg_price = purchase_file_pd["Price"].mean()
avg_price

3.050987179487176

In [30]:
#Number of purchases
num_purchases = purchase_file_pd["Purchase ID"].count()
num_purchases

780

In [31]:
#Total Revenue
Tot_Rev = purchase_file_pd["Price"].sum()
Tot_Rev

2379.77

In [32]:
#Purchasing Analysis(Total) summary data frame
Purch_Analysis_Total = pd.DataFrame({"Number of Unique Items": [num_unique_items],"Average Price": [avg_price], "Number of Purchases":[num_purchases], "Total Revenue":Tot_Rev})
Purch_Analysis_Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [33]:
#GENDER DEMOGRAPHICS
#Gender Count
#There are 576 screen names. Initially, I ran the below code to groupby gender and it returned 780 lines
#(which is the total number of lines in this data set), but based on Total Number of Players in the 
#Player Count section, I know there are actually 576 players. Some players have multiple entries for 
#gender on the same screen name. As a result, grouping by SN and Gender instead of just Gender gives
#us accurate information.I ran the below code to see the different outputs for Gender and SN individully. 


#Groupby 'Gender' AND 'SN' to get the number of male, female, and non-disclosed genders
#gender_count = purchase_file_pd.groupby("Gender")["SN"].nunique()
#gender_count
player_gender = purchase_file_pd.groupby("Gender")["SN"].nunique()
player_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [34]:
#getting total line count
total_num = purchase_file_pd.count()
total_num

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [35]:
#Percentage of male, female, and non-disclosed players
#Referenced Hannah's code for this cell

#to drop duplicates by the screen name#

#to make total players an integer and not a list#
total_players = purchase_file_pd.count()[0]
#Then you can use a value_counts() to get the listed genders#
gender_count = purchase_file_pd["Gender"].value_counts()
#finally, you can calculate the percents#
gender_count_percents = gender_count/total_players * 100
gender_count_percents

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [36]:
#Gender Demographics Analysis summary data frame
gender_demo_analysis = pd.DataFrame({"Total Count":gender_count, "Percentage of Players":gender_count_percents})
gender_demo_analysis = gender_demo_analysis.round(2) 
gender_demo_analysis

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

In [37]:
#looking at datatypes of the columns
purchase_file_pd.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [38]:
#PURCHASING ANALYSIS (GENDER)
#purchase count by gender
gender_purchase_count = purchase_file_pd.groupby("Gender")["Purchase ID"].count()
gender_purchase_count


#My output totals 576, which is the total amount of players but the homework shows a total of 780. 
#I think this is because we dropped duplicates (in Hannah's code), which brought the number of rows
#in this dataset from 780 to 576.

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [39]:
#average purchase price by gender
avg_gender_purch_price = purchase_file_pd.groupby("Gender")["Price"].mean()
avg_gender_purch_price.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [40]:
#total purchase value 
tot_purch_pp = purchase_file_pd.groupby("Gender")["Price"].sum()
tot_purch_pp

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [41]:
#average total purchase per person#

avg_tot_purch_pp = tot_purch_pp/ gender_count
avg_tot_purch_pp.round(2)

Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [42]:
########Purchasing Analysis (Gender) summary data frame
purch_analysis = pd.DataFrame({"Purchase Count":gender_purchase_count, 
                               "Average Purchase Price":avg_gender_purch_price, 
                               "Total Purchase Value":tot_purch_pp, 
                               "Avg Total Purchase per Person": avg_tot_purch_pp})
purch_analysis

###Avg Purchase price and Avg Total Purchase Per Person is the same###

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [55]:
#AGE DEMOGRAPHICS
#create a new dataframe
age_demo = purchase_file_pd[["Age", "SN"]].drop_duplicates()

#establish bins for the given age ranges
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_ranges =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize existing players into the age bins using pd.cut() 

age_demo["Age Range"] = pd.cut(age_demo["Age"], bins, labels = age_ranges)
age_demo

     Age             SN Age Range
0     20        Lisim78     20-24
1     40    Lisovynya38       40+
2     24     Ithergue48     20-24
3     24  Chamassasya86     20-24
4     23      Iskosia90     20-24
..   ...            ...       ...
773   21         Hala31     20-24
774   11     Jiskjask80     10-14
775   21     Aethedru70     20-24
777   20     Yathecal72     20-24
778    7        Sisur91       <10

[576 rows x 3 columns]

In [56]:
#percent by age
age_percentage= age_demo["Age Range"].value_counts()/(total_players) * 100
age_percentage.round(2)

age_count = age_demo["Age Range"].value_counts()

age_demo=pd.DataFrame({"Total Count":age_count,"Percentage of Players": age_percentage})
age_demo=age_demo.round(2)
age_demo.sort_index()

       Total Count  Percentage of Players
<10             17                   2.18
10-14           22                   2.82
15-19          107                  13.72
20-24          258                  33.08
25-29           77                   9.87
30-34           52                   6.67
35-39           31                   3.97
40+             12                   1.54

In [58]:
#PURCHASING ANALYSIS (AGE)

#Bin the purchase_data data frame by age (I copy and pasted the previous line from where we created bins for Age Demographics)
purchase_file_pd ["Age Range"] = pd.cut(purchase_file_pd["Age"], bins, labels = age_ranges, include_lowest=True)
purchase_file_pd

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [59]:
#purchase count by age

age_purchase_count = purchase_file_pd.groupby("Age Range").count()["Purchase ID"]
age_purchase_count

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [60]:
#avg purchase price by age
avg_purch_price_age = purchase_file_pd.groupby("Age Range")["Price"].mean()
avg_purch_price_age.round(2)

Age Range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [61]:
#total purchase value by age
tot_purch_value = purchase_file_pd.groupby("Age Range")["Price"].sum()
tot_purch_value

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [62]:
#average total purchase per person by age
       
avg_tot_purch_pp_age = tot_purch_value/ age_demo["Total Count"]
avg_tot_purch_pp_age.round(2)

<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [65]:
#Age Demographics Summary Data Frame
age_analysis = pd.DataFrame({"Purchase Count":age_purchase_count,
                                "Average Purchase Price":avg_purch_price_age,
                                "Total Purchase Value":tot_purch_value,
                                "Avg Total Purchase per Person":avg_tot_purch_pp_age})
age_analysis=age_analysis.round(2)
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [73]:
#####TOP SPENDERS
#Purchase Count (ts=Top Spenders)
ts_purch_total = purchase_file_pd.groupby("SN").sum()["Price"]
ts_purch_count = purchase_file_pd.groupby("SN").count()["Price"]
ts_purch_avg = purchase_file_pd.groupby("SN").mean()["Price"]

top_spenders_analysis = pd.DataFrame({"Purchase Count":ts_purch_count,
                                "Average Purchase Price":ts_purch_avg,
                                "Total Purchase Value":ts_purch_total})


top_spenders_analysis.sort_values("Total Purchase Value", ascending = False)
top_spenders_analysis.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [74]:
#Average Purchase Price

ts_avg_purch_price = purchase_file_pd.groupby("SN")["Price"].mean()
ts_avg_purch_price.round(2)

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Price, Length: 576, dtype: float64

In [75]:
#################Total Purchase Value
players_purch_value = purchase_file_pd.groupby("SN")["Price"].sum()
players_purch_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [76]:
#MOST POPULAR ITEMS

#Retrieve the Item ID, Item Name, and Item Price columns
items= purchase_file_pd.loc[:,["Item ID", "Item Name", "Price"]]
items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [77]:
# Convert to new df
item_df = pd.DataFrame(items)

In [78]:
#Purchase Count for Most Popular Items
pop_purch_count = items.groupby(["Item ID", "Item Name"]).count()["Price"]
pop_purch_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [79]:
#Item Price
pop_item_price = items["Price"]
pop_item_price

0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
       ...
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64

In [80]:
#Total Purchase Value
pop_total_value = items.groupby(["Item ID", "Item Name"]).sum() ["Price"]
pop_total_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [82]:
#Most Popular Items Summary Data Frame
most_pop_analysis = pd.DataFrame({"Purchase Count":pop_purch_count,
                                "Total Purchase Value":pop_total_value})
                                
most_pop_analysis = most_pop_analysis.sort_values("Purchase Count", ascending=False)
most_pop_analysis

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
...,...,...,...
42,The Decapitator,1,1.75
51,Endbringer,1,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.17
104,Gladiator's Glaive,1,1.93
91,Celeste,1,4.17

In [83]:
#Merge item_df and summary data frame
#most_popular_df=item_df.merge(most_pop_analysis, on=["Item ID"])

In [84]:
#Sort the purchase count column in descending order
most_pop_analysis.sort_values(["Purchase Count"], ascending=[False])

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
...,...,...,...
134,Undead Crusader,1,4.50
27,"Riddle, Tribute of Ended Dreams",1,3.30
47,"Alpha, Reach of Ending Hope",1,3.58
90,Betrayer,1,2.94
91,Celeste,1,4.17

In [85]:
#Most Profitable Items

#Sort the above table by total purchase value in descending order
most_pop_analysis.sort_values(["Total Purchase Value"], ascending=[False])
most_pop_analysis.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77

In [ ]:
#Observations
#1)Age group 20-24 spends the most money (Total Purchase Value $1,114.06) 
#2)Most players fall into the 20-24 year old age group
#3)Females spend more money per purchase than males ($3.20 vs. 3.02, respectively)