In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [271]:
#Path to csv file
purchase_file = "Resources/purchase_data.csv"

In [272]:
#Read file into pandas and make a copy called 'data' so it can be
#called back at any time using data.copy and create dataframe
purchase_file_pd = pd.read_csv(purchase_file)
purchase_file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [273]:
#Get a list of all columns for easy reference
purchase_file_pd.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [274]:
#Create a list of the columns
purchase_file_pd = purchase_file_pd.loc[:,["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]]

In [275]:
#PLAYER COUNT
#Calculate the total number of players
total_players = purchase_file_pd["SN"].nunique()

total_players=pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

In [276]:
#PURCHASING ANALYSIS
#Number of unique items
num_unique_items = purchase_file_pd['Item ID'].nunique()
num_unique_items

179

In [277]:
purchase_file_pd.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [278]:
#Calculate average price
avg_price = purchase_file_pd["Price"].mean()
avg_price

3.050987179487176

In [279]:
#Number of purchases
num_purchases = purchase_file_pd["Purchase ID"].count()
num_purchases

780

In [280]:
#Total Revenue
Tot_Rev = purchase_file_pd["Price"].sum()
Tot_Rev

2379.77

In [281]:
#Purchasing Analysis(Total) summary data frame
Purch_Analysis_Total = pd.DataFrame({"Number of Unique Items": [num_unique_items],"Average Price": [avg_price], "Number of Purchases":[num_purchases], "Total Revenue":Tot_Rev})
Purch_Analysis_Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [282]:
#GENDER DEMOGRAPHICS
#Gender Count
#There are 576 screen names. Initially, I ran the below code to groupby gender and it returned 780 lines
#(which is the total number of lines in this data set), but based on Total Number of Players in the 
#Player Count section, I know there are actually 576 players. Some players have multiple entries for 
#gender on the same screen name. As a result, grouping by SN and Gender instead of just Gender gives
#us accurate information.I ran the below code to see the different outputs for Gender and SN individully. 


#Groupby 'Gender' AND 'SN' to get the number of male, female, and non-disclosed genders
#gender_count = purchase_file_pd.groupby("Gender")["SN"].nunique()
#gender_count
player_gender = purchase_file_pd.groupby("Gender")["SN"].nunique()
player_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [285]:
#getting total line count
total_num = purchase_file_pd.count()
total_num

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [293]:
#Percentage of male, female, and non-disclosed players
#Referenced Hannah's code for this cell

#to drop duplicates by the screen name#
purchase_file_pd = purchase_file_pd.drop_duplicates('SN')
#to make total players an integer and not a list#
total_players = purchase_file_pd.count()[0]
#Then you can use a value_counts() to get the listed genders#
gender_count = purchase_file_pd["Gender"].value_counts()
#finally, you can calculate the percents#
gender_count_percents = gender_count/total_players * 100 
gender_count_percents

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [294]:
#Gender Demographics Analysis summary data frame
gender_demo_analysis = pd.DataFrame({"Gender Count":gender_count, "Percentage of Players":gender_count_percents})
gender_demo_analysis

                       Gender Count  Percentage of Players
Male                            484              84.027778
Female                           81              14.062500
Other / Non-Disclosed            11               1.909722

In [295]:
#looking at datatypes of the columns
purchase_file_pd.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [296]:
#PURCHASING ANALYSIS (GENDER)
#########purchase count by gender############
gender_purchase_count = purchase_file_pd.groupby("Gender")["Purchase ID"].count()
gender_purchase_count

#My output totals 576, which is the total amount of players but the homework shows a total of 780. 
#I think this is because we dropped duplicates (in Hannah's code), which brought the number of rows
#in this dataset from 780 to 576.

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Purchase ID, dtype: int64

In [297]:
#average purchase price by gender
avg_gender_purch_price = purchase_file_pd.groupby("Gender")["Price"].mean()
avg_gender_purch_price.round(2)

Gender
Female                   3.17
Male                     3.05
Other / Non-Disclosed    3.41
Name: Price, dtype: float64

In [298]:
#total purchase value 
tot_purch_pp = purchase_file_pd.groupby("Gender")["Price"].sum()
tot_purch_pp

Gender
Female                    256.43
Male                     1474.70
Other / Non-Disclosed      37.52
Name: Price, dtype: float64

In [375]:
########average total purchase per person########

avg_tot_purch_pp = tot_purch_pp/ gender_count
avg_tot_purch_pp.round(2)

#####NEED TO FIX#####

Female                   3.17
Male                     3.05
Other / Non-Disclosed    3.41
dtype: float64

In [300]:
########Purchasing Analysis (Gender) summary data frame
purch_analysis = pd.DataFrame({"Purchase Count":gender_purchase_count, 
                               "Average Purchase Price":avg_gender_purch_price, 
                               "Total Purchase Value":tot_purch_pp, 
                               "Avg Total Purchase per Person": avg_tot_purch_pp})
purch_analysis

###Avg Purchase price and Avg Total Purchase Per Person is the same###

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,3.165802,256.43,3.165802
Male,484,3.046901,1474.70,3.046901
Other / Non-Disclosed,11,3.410909,37.52,3.410909

In [378]:
#AGE DEMOGRAPHICS
#establish bins for the given age ranges
bins = [0, 10, 15, 20, 25, 30, 35, 40, 200]
age_ranges =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize existing players into the age bins using pd.cut() 
#purchase_file_pd["Player Age Summary"] =
purchase_file_pd ["Age Range"] = pd.cut(purchase_file_pd["Age"], bins, labels = age_ranges, include_lowest=True)
purchase_file_pd

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [368]:
#percent by age
age_percentage= purchase_file_pd["Age Range"].value_counts()/ (total_players) * 100
age_percentage

20-24    40.277778
15-19    26.041667
25-29    10.243056
10-14     7.118056
30-34     6.423611
35-39     4.513889
<10       4.166667
40        1.215278
Name: Age Range, dtype: float64

In [394]:
###########Age Demographics Analysis summary table##########
age_demo_analysis = pd.DataFrame({("Total Count"):gender_count,("Percentage of Players"): age_percentage})
age_demo_analysis

                       Total Count  Percentage of Players
10-14                          NaN               7.118056
15-19                          NaN              26.041667
20-24                          NaN              40.277778
25-29                          NaN              10.243056
30-34                          NaN               6.423611
35-39                          NaN               4.513889
40                             NaN               1.215278
<10                            NaN               4.166667
Female                        81.0                    NaN
Male                         484.0                    NaN
Other / Non-Disclosed         11.0                    NaN

In [ ]:
#PURCHASING ANALYSIS (AGE)

#Bin the purchase_data data frame by age (I copy and pasted the previous line from where we created bins for Age Demographics)
purchase_file_pd ["Age Range"] = pd.cut(purchase_file_pd["Age"], bins, labels = age_ranges, include_lowest=True)
purchase_file_pd

In [400]:
#purchase count by age

age_purchase_count = purchase_file_pd.groupby("Age Range")["Item Name"]
age_purchase_count.count()

Age Range
<10       24
10-14     41
15-19    150
20-24    232
25-29     59
30-34     37
35-39     26
40+        7
Name: Item Name, dtype: int64

In [401]:
#avg purchase price by age
avg_purch_price_age = purchase_file_pd.groupby("Age Range")["Price"].mean()
avg_purch_price_age.round(2)

Age Range
<10      3.42
10-14    2.94
15-19    3.18
20-24    3.02
25-29    2.90
30-34    3.00
35-39    3.29
40+      3.08
Name: Price, dtype: float64

In [371]:
#total purchase value by age
tot_purch_value = purchase_file_pd.groupby("Age Range")["Price"].sum()
tot_purch_value

Age Range
<10       82.18
10-14    120.43
15-19    476.84
20-24    700.03
25-29    171.02
30-34    111.15
35-39     85.47
40        21.53
Name: Price, dtype: float64

In [407]:
#############average total purchase per person by age
#avg_tot_purch_pp_age = purchase_file_pd.groupby("")/["Price"]
#avg_tot_purch_pp_age.round(2)
                                          
       
avg_tot_purch_pp_age = tot_purch_pp/ "age"
avg_tot_purch_pp_age.round(2)
                                          
                                          
 #avg purchase price by age
#avg_purch_price_age = purchase_file_pd.groupby("Age Range")["Price"].mean()
#avg_purch_price_age.round(2)

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [373]:
#Age Demographics Summary Data Frame
age_analysis = pd.DataFrame({"Purchase Count":age_purchase_count,
                                "Average Purchase Price":avg_purch_price_age,
                                "Total Purchase Value":tot_purch_value,
                                "Avg Total Purchase per Person":avg_tot_purch_pp_age})
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,24,3.424167,82.18,0.142674
10-14,41,2.937317,120.43,0.209080
15-19,150,3.178933,476.84,0.827847
20-24,232,3.017371,700.03,1.215330
25-29,59,2.898644,171.02,0.296910
30-34,37,3.004054,111.15,0.192969
35-39,26,3.287308,85.47,0.148385
40,7,3.075714,21.53,0.037378

In [438]:
########################TOP SPENDERS

players_purchase_count_df = purchase_file_pd.groupby("SN").count()["Price"]
players_purchase_count_df

#Purchase Count (ts=Top Spenders)
#ts_purch_count = purchase_file_pd.groupby("SN")

#Total Purchases
#ts_total_purchases=ts_purch_count["Purchase ID"].count()
#ts_total_purchases

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       1
Yathedeu43       1
Yoishirrala98    1
Zhisrisu83       1
Zontibe81        1
Name: Price, Length: 576, dtype: int64

In [440]:
#################Average Purchase Price

players_average_price_df = purchase_file_pd.groupby("SN").mean()["Price"]
players_average_price_df

#ts_avg_purch_price = purchase_file_pd.["Price"].mean()
#ts_avg_purch_price.mean()

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       1.87
Yathedeu43       3.75
Yoishirrala98    4.58
Zhisrisu83       4.35
Zontibe81        1.76
Name: Price, Length: 576, dtype: float64

In [442]:
#################Total Purchase Value
players_total_df = purchase_file_pd.groupby("SN").sum()["Price"]
players_total_df
#ts_tot_purch_value = purchase_file_pd.groupby("SN")["Price"].sum()
#ts_tot_purch_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       1.87
Yathedeu43       3.75
Yoishirrala98    4.58
Zhisrisu83       4.35
Zontibe81        1.76
Name: Price, Length: 576, dtype: float64

In [446]:
#MOST POPULAR ITEMS

#Retrieve the Item ID, Item Name, and Item Price columns